In [1]:
import pandas as pd
import codecs

In [2]:
df = pd.read_csv('SlateGunDeaths.csv', engine='python')

In [3]:
grooup = df.groupby(df['state'].str.upper())['victimID'].count().reset_index()

In [4]:
df_abb = pd.read_csv("50_us_states_all_data.csv")

In [5]:
merged = pd.merge(grooup,df_abb[['Names','state']], on="state")

In [6]:
merged['Names_camel']= merged['Names'].apply(lambda  x: x.title())

In [7]:
merged['Names_lower'] = merged['Names'].apply(lambda  x: x.lower())

In [9]:
merged.to_csv("states_pop1.csv")

In [11]:
merged.head()

  state  victimID       Names Names_camel Names_lower
0    AK        33      ALASKA      Alaska      alaska
1    AL       274     ALABAMA     Alabama     alabama
2    AR       134    ARKANSAS    Arkansas    arkansas
3    AZ       248     ARIZONA     Arizona     arizona
4    CA      1447  CALIFORNIA  California  california